body {
  margin: 0 auto;
  transform: translateY(+50%);
  }

.cuadricula {
  width: 301px;
  height: 215px;
  margin: 0.5em;
  }

.cuadricula div {
  float: left;
  width: 43px;
  height: 43px;
  background-color: #fff;
}

.cuadricula div:nth-child(2n+1), 
.cuadricula div:nth-child(8) ~ div:nth-child(2n+1), 
.cuadricula div:nth-child(15) ~ div:nth-child(2n+1), 
.cuadricula div:nth-child(22) ~ div:nth-child(2n+1), 
.cuadricula div:nth-child(29) ~ div:nth-child(2n+1)

{
    background-color: #000;
}